<div class="top_center">
  <img src="/assets/image.png" />
</div>
<div class="bottom_text">
  <h4>Structure of numbering lamps, left to right starting from the door</h4>
</div>
<form ngForm class="centered" name="setform" #setform="ngForm">
  <div class="vert_cent">
    <mat-form-field appearance="outline">
      <mat-label>Room Type</mat-label>
      <mat-select
        required
        [(ngModel)]="selectedRoomtype"
        name="type"
        #type="ngModel"
      >
        <mat-option *ngFor="let room of this.room_type" [value]="room">{{
          room
        }}</mat-option>
      </mat-select>
      <mat-error *ngIf="type.touched && type.invalid"
        >This field is required.</mat-error
      >
    </mat-form-field>
  </div>
  <div class="vert_cent">
    <mat-form-field appearance="outline">
      <mat-label>Room Number</mat-label>
      <mat-select
        required
        [(ngModel)]="selectedOffice"
        name="office"
        #office="ngModel"
      >
        <mat-option
          *ngFor="let number of this.numbers | slice: 1:100"
          [value]="number"
        >
          {{ number }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="office.touched && office.invalid"
        >This field is required.</mat-error
      >
    </mat-form-field>
  </div>
  <div class="vert_cent">
    <mat-form-field appearance="outline">
      <mat-label>{{ this.device_type | titlecase }}</mat-label>
      <mat-select
        required
        [(ngModel)]="selectedDevice"
        name="device"
        #device="ngModel"
        placeholder="test123"
      >
        <mat-option
          *ngFor="let number of this.numbers | slice: 1:20"
          [value]="number"
          (click)="room_limit_warning($event, '0ms', '100ms')"
        >
          <!-- [formControl]="form_deviceid" -->
          {{ number }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="device.touched && device.invalid"
        >This field is required.</mat-error
      >
    </mat-form-field>
  </div>
  <div class="next_device">
    <button
      mat-raised-button
      name="nextdevice"
      class="finished"
      [disabled]="!setform.form.valid"
      (click)="rename($event)"
    >
      Next Device
    </button>
  </div>
  <div>
    <button
      mat-raised-button
      name="finisheddevice"
      class="finished"
      [disabled]="!setform.form.valid"
      (click)="rename($event)"
    >
      Next and Finished
    </button>
  </div>
</form>
