<div class="centered">
  <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button
          type="button"
          class="btn btn-outline-primary"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          Select gateway
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button
            ngbDropdownItem
            [disabled]="disable_gateways(gateway[1], gateway[2])"
            (click)="openDialog('0ms', '0ms', $event)"
            *ngFor="let gateway of full_gateway_description"
          >
            Gateway {{ gateway[0] }} (cap. {{ gateway[2] }})
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="back">
    <button class="backbutton" (click)="navigate_back()">back</button>
  </div>
</div>
